body {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
}

*,
:before,
:after {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
     margin: 0;
}

.container {
    width: 100%;
    max-width: 1380px;
    padding: 0 20px;
    margin: 0 auto;
}


/* header */
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #263238;
    margin-right: 35px;
}

.nav a:hover {
    padding-bottom: 2px;
    border-bottom: 3px solid #263238;
    transition: 0.1s;
}

.button {
    text-decoration: none;
    font-size: 24px;
    font-weight: normal;
    color: #000;
    border: 2px solid #263238;
    padding: 20px 55px;
    border-radius: 7px;
}

.button:hover {
    background-color: #263238;
    color: #fff;
    transition: 0.2s;
}


/* main */
.main {
    margin-top: 80px;
}

.learn {
    margin-bottom: 120px;
}

.learn__title {
    font-size: 65px;
    width: 400px;
    margin-bottom: 50px;
    font-weight: 600;
}

.learn__subtitle {
    font-size: 24px;
    color: #8F95A5;
    width: 550px;
}

.learn__button {
    font-size: 36px;
    text-decoration: none;
    color: #fff;
    background-color: #263238;
    padding: 40px 120px;
    border-radius: 15px;
}

.learn__img {
    position: absolute;
    top: 300px;
    right: 590px;
}

.bulb {
    position: absolute;
    top: 90px;
    right: 800px;
}


/* skills */
.skills {
    text-align: center;
    margin-top: 180px;
}

.skills__title {
    font-weight: 600;
    font-size: 48px;
}